<div class="header">
    <div class="link-button-container login-container">
        <app-link-button [title]="'Login'"></app-link-button>
    </div>
    <div class="link-button-container">
        <app-link-button [title]="'Garage'"></app-link-button>
    </div>
    <div class="link-button-container">
        <app-link-button [title]="'Lueftung'"></app-link-button>
    </div>
    <div class="link-button-container last-link-button-container">
        <app-link-button [title]="'Rollaeden'"></app-link-button>
    </div>
</div>