smokeyBlack = rgba(12, 15, 10, 1)
color2 = rgba(239, 249, 240, 1)
color3 = rgba(146, 220, 229, 1)
color4 = rgba(21, 50, 67, 1)
color5 = rgba(49, 62, 80, 1)

.header {
    background-color: smokeyBlack 
    width:  100%
    height 80px
    top: 0
}
    