smokeyBlack = rgba(12, 15, 10, 1)
white = rgba(239, 249, 240, 1)
skyBlue = rgba(146, 220, 229, 1)
marineBlue = rgba(21, 50, 67, 1)
grey = rgba(49, 62, 80, 1)

.link-button
    color: skyBlue
    text-decoration: none


.link-button-container
    width: fit-content
    height: fit-content
    border-style: solid
    border-color: grey
    border-radius: 10px
    float: left
    background-color: marineBlue
    margin-left: 10px
    text-decoration: none
    padding: 5px

.link-button-container:hover
    border-color: white